.link {
  color: #fff;
  position: relative;
}
.link:after {
  border-radius:28px 28px 0 0;
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background:  linear-gradient(243deg, #D41275 -10.84%, #2F0E80 113.11%);
  /* background: white; */
/* background: linear-gradient(90deg, rgba(254,245,0,1) 0%, rgba(85,9,121,1) 35%, rgba(242,0,255,1) 100%); */
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link:hover:after {
  width:82%;
  left: 6.5px;
  /* margin: 0 5px; */
}